$semi-trans-color: #00000059;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/images/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: 100%;
    font-size: 30px;
    * {
        font-family: "Goldman";
        font-weight: 700;
    }
}

header {
    text-align: center;
    p {
        font-size: 10px;
    }
}

.index__top__div {
    padding: 1.2%;
    width: 100%;
    // background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    .index__textarea {
        background-color: $semi-trans-color;
        width: 50%;
        height: 40vh;
        resize: none;
        border: 3px solid black;
        border-radius: 10px;
        padding: 25px;
        position: relative;
        font-size: 20px;
        opacity: 1;
        color: white;
        @media (max-width: 400px) {
            width: 80%;
        }
    }
}

.output {
    display: none;
}

.index__convert___button__container {
    width: 100%;
    display: flex;
    justify-content: center;
    .index__convert__button {
        background-color: yellow;
        padding: 10px;
    }
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: none;
    animation: spin 0.4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
